<!DOCTYPE html>

<html class="" id="j-readPage">
<head>
    <meta charset="UTF-8">

    <title>夜的命名术_3、破碎的世界在线阅读-起点中文网</title>
    <meta name="keywords" content="夜的命名术,3、破碎的世界">
    <meta name="description" content="起点中文网提供夜的命名术,3、破碎的世界在线阅读服务,想看夜的命名术最新章节,欢迎关注起点中文网夜的命名术频道,第一时间阅读夜的命名术最新章节!">
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="baiduspider" content="all">
    <meta http-equiv="mobile-agent" content="format=wml; url=http://m.qidian.com/book/1021617576/626645596">
    <meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.qidian.com/book/1021617576/626645596">
    <meta http-equiv="mobile-agent" content="format=html5; url=http://m.qidian.com/book/1021617576/626645596">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit"/>
    <meta name="mobile-agent" content="format=html5;url=https://m.qidian.com/book/1021617576/626645596/">
    <link rel="alternate" media="only screen and (max-width: 640px)"
          href="https://m.qidian.com/book/1021617576/626645596/">
    <script>
        // 获取cookie
        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
            arr = document.cookie.match(reg);
            if (arr) {
                return arr[2];
            } else {
                return null;
            }
        }

        // tf = 1 用户选择，留在PC
        if (getCookie('tf') != 1) {
            if (/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                window.location.href = "//m.qidian.com/book/1021617576/626645596";
            }
        } else {
            // M站设置了一年，这里fixed
            setCookie('tf', 1, 'qidian.com', '/', 0);
        }
    </script>
    <script>
        document.domain = 'qidian.com';
    </script>
    <script>function setCookie(e, o, n, t, i) {
        i && (i = new Date(+new Date + i));
        var a = e + "=" + escape(o) + (i ? "; expires=" + i.toGMTString() : "") + (t ? "; path=" + t : "") + (n ? "; domain=" + n : "");
        a.length < 4096 && (document.cookie = a)
    }

    function getCookie(e) {
        var o, n = new RegExp("(^| )" + e + "=([^;]*)(;|$)");
        return (o = document.cookie.match(n)) ? o[2] : null
    }

    function createSender(e) {
        var o = new Image;
        o.onload = o.onerror = function () {
            o = null
        }, o.src = e
    }

    1 == getCookie("tf") && setCookie("tf", 1, "qidian.com", "/", 0)</script>
    <link data-ignore="true" rel="shortcut icon" type="image/x-icon" href="//qidian.gtimg.com/qd/favicon/qd_icon.ico">
    <link data-ignore="true" rel="Bookmark" type="image/x-icon" href="//qidian.gtimg.com/qd/favicon/qd_icon.ico">
    <script>function gtag() {
        dataLayer.push(arguments)
    }

    !function () {
        var a = document.createElement("script");
        a.src = "//www.googletagmanager.com/gtag/js?id=UA-199934072-2", a.async = 1;
        var e = document.getElementsByTagName("script")[0];
        e.parentNode.insertBefore(a, e)
    }(), window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "UA-199934072-2"), gtag("config", "G-PFYW0QLV3P")</script>
    <script>!function (e, t, n, p, y, c, o) {
        e.QDAnalyticsObject = y, e.yep = e.yep || function () {
            (e.yep.q = e.yep.q || []).push(arguments)
        }, e.yep.l = 1 * new Date, c = t.createElement(n), o = t.getElementsByTagName(n)[0], c.async = 1, c.src = "https://noah2-1252317822.file.myqcloud.com/npm/@noah-common/yep@0.0.46/dist/yep.js", o.parentNode.insertBefore(c, o)
    }(window, document, "script", 0, "yep"), yep("set", {appid: 10038, rate: .02})</script>
    <script src="https://imgservices-1252317822.file.myqcloud.com/file/010720220103613/87b2493f.js"></script>

    <link rel="stylesheet" data-ignore="true"
          href="//qidian.gtimg.com/c/=/qd/css/lbfUI/css/icon.a578d.css,/qd/css/lbfUI/css/Drag.41d31.css,/qd/css/lbfUI/css/Checkbox.ef549.css,/qd/css/reset.ddecf.css,/qd/css/global.d41d8.css,/qd/css/font.1c2b3.css,/qd/css/module.4d743.css,/qd/css/footer.cdb97.css,/qd/css/read.e53e0.css,/qd/css/weekly_hot_rec.4aed7.css,/qd/css/review.64e5b.css,/qd/css/emoji.3b60e.css,/qd/css/layout.2aada.css,/qd/css/qd_popup.ed72c.css,/qd/css/book_popup.b4f13.css,/qd/css/vote_popup.3f2e7.css"/>

    <script src="//qidian.gtimg.com/headless/index.js" data-ignore="true"></script>


    <script data-ignore="true"
            src="https://imgservices-1252317822.file.myqcloud.com/file/021620220192501/8628e719.js"></script>


</head>
<body class="theme-0 ">

<div class="read-header" id="readHeader" data-l1="40">
    <div class="wrap-center cf">
        <div class="left-nav fl">
            <div class="logo">
                <a class="logo-ico" href="javascript:"></a>
            </div>
            <ul>
                <li class="site" data-l2="1">
                    <a class="pin-logo" href="//www.qidian.com" target="_blank" data-eid="qd_R01"><span
                            class="third-remove"></span></a>
                    <div class="dropdown third-remove">
                        <a href="//www.qdmm.com" target="_blank" data-eid="qd_R02">起点女生网</a>
                        <a href="http://chuangshi.qq.com" target="_blank" data-eid="qd_R03">创世中文网</a>
                        <a href="http://yunqi.qq.com" target="_blank" data-eid="qd_R04">云起书院</a>
                    </div>
                </li>
                <li class="app" data-l2="2">
                    <cite>手机阅读</cite>
                    <div class="dropdown scan-app hidden">
                        <div class="box">
                            <h3>扫描下载起点读书客户端</h3>
                            <img id="readQrcode"
                                 src="https://imgservices-1252317822.image.myqcloud.com/image/121720210145357/902b7c21.png">
                            <a href="https://itunes.apple.com/cn/app/id534174796?mt=8" target="_blank"
                               data-eid="qd_R05"><em class="iconfont">&#xe64c;</em>App store 下载</a>
                            <a href="http://download.qidian.com/apknew/source/QDReader.apk" target="_blank"
                               data-eid="qd_R06"><em class="iconfont">&#xe64a;</em>Android 下载</a>
                        </div>
                    </div>
                </li>
                <li id="j_nearRead" data-l2="3">
                    <cite>最近阅读</cite>
                </li>
                <li class="quick-nav" data-l2="4">
                    <cite><i class="iconfont">&#xe661;</i>快速导航</cite>
                    <div class="dropdown type-list">
                        <div class="type-box">
                            <h3>分类频道</h3>
                            <a href="//www.qidian.com/xuanhuan/" data-eid="qd_R13" target="_blank">玄幻</a>
                            <a href="//www.qidian.com/qihuan/" data-eid="qd_R14" target="_blank">奇幻</a>
                            <a href="//www.qidian.com/wuxia/" data-eid="qd_R15" target="_blank">武侠</a>
                            <a href="//www.qidian.com/xianxia/" data-eid="qd_R16" target="_blank">仙侠</a>
                            <a href="//www.qidian.com/dushi/" data-eid="qd_R17" target="_blank">都市</a>
                            <a href="//www.qidian.com/xianshi/" data-eid="qd_R18" target="_blank">现实</a>
                            <a href="//www.qidian.com/lishi/" data-eid="qd_R20" target="_blank">历史</a>
                            <a href="//www.qidian.com/junshi/" data-eid="qd_R19" target="_blank">军事</a>
                            <a href="//www.qidian.com/youxi/" data-eid="qd_R21" target="_blank">游戏</a>
                            <a href="//www.qidian.com/tiyu/" data-eid="qd_R22" target="_blank">体育</a>
                            <a href="//www.qidian.com/kehuan/" data-eid="qd_R23" target="_blank">科幻</a>
                            <a href="//www.qidian.com/all/chanId20109/" data-eid="qd_R23" target="_blank">诸天无限</a>
                            <a href="//www.qidian.com/lingyi/" data-eid="qd_R24" target="_blank">悬疑</a>
                            <a href="//www.qidian.com/2cy/" class="ecy" data-eid="qd_R26" target="_blank"> 轻小说</a>
                            <a href="//www.qidian.com/finish/" data-eid="qd_R27" target="_blank">完本</a>
                            <a href="//www.qdmm.com/" data-eid="qd_R25" target="_blank">女生</a>
                            <a href="//www.qidian.com/book/sanjiang/" data-eid="qd_R28" target="_blank">三江</a>
                        </div>
                        <div class="type-box">
                            <h3>其它</h3>
                            <a href="//write.qq.com/college" data-eid="qd_R29" target="_blank">投稿</a>
                            <a href="https://www.qidian.com/help/index/2" data-eid="qd_R30" target="_blank">签约</a>
                            <a href="//wwwploy.qidian.com/ploy/20150520qdsp/theme1.htm" data-eid="qd_R31"
                               target="_blank">福利</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="read-login fr">
            <ul>
                <li id="min-search" data-l2="5">
                    <form action="//www.qidian.com/search" method="get" target="_blank">
                        <input class="submit-input" type="submit" id="searchSubmit" data-eid="qd_R32">
                        <input id="pin-input" class="pin-input hide" name="kw" type="text" placeholder="从霍格沃茨开始重新做人">
                        <label id="pin-search" for="searchSubmit" data-eid="qd_R32"><em class="iconfont"></em></label>
                    </form>
                </li>
                <li class="line"></li>
                <li class="sign-out" data-l2="6">
                    <a id="pin-login" href="javascript:" data-eid="qd_R33">登录</a>
                    <a class="reg"
                       href="//passport.qidian.com/reg.html?appid=10&areaid=1&target=iframe&ticket=1&auto=1&autotime=30&returnUrl=http%3A%2F%2Fwww.qidian.com"
                       target="_blank" data-eid="qd_R34">注册</a>
                </li>
                <li class="sign-in hidden" data-l2="6">
                    <a href="//my.qidian.com/" target="_blank" data-eid="qd_R36"><i id="nav-user-name"></i><span></span></a>
                    <div class="dropdown">
                        <a href="//my.qidian.com/setting/" target="_blank" data-eid="qd_R37">账户设置</a>
                        <a href="//my.qidian.com/account/" target="_blank" data-eid="qd_R38">账务中心</a>
                        <a href="//write.qq.com/" target="_blank" data-eid="qd_R39">作家专区</a>
                        <a id="exit" href="javascript:" data-eid="qd_R40">退出</a>
                    </div>
                </li>
                <li data-l2="6"><a class="qqlivepay" href="//www.qidian.com/charge/meRedirect" target="_blank"
                                   data-eid="qd_R35">充值</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="wrap">
    <div id="j_bodyRecWrap" class="hidden"></div>
    <div class="crumbs-nav" data-l1="1">

        <a href="//www.qidian.com" target="_blank" data-eid="qd_G01">首页</a><em class="iconfont">&#xe621;</em>
        <a href="//www.qidian.com/dushi/" target="_blank" data-chanid="4" id="j_chanId" data-eid="qd_G02">都市</a><em
            class="iconfont">&#xe621;</em>
        <a href="//www.qidian.com/all/chanId4-subCateId74/" target="_blank">异术超能</a><em class="iconfont">&#xe621;</em>

        <a class="act" href="//book.qidian.com/info/1021617576/" target="_blank" id="bookImg" data-bid="1021617576">夜的命名术</a>
    </div>
    <div class="main-read-container" id="j-mainReadContainer">
        <div v-cloak v-show="isReviewSidebarVisible" class="section-comment-container" id="paragraph-review-app"
             :class="{showSendTextArea:isShowSendTextArea}">
            <div class="section-comment-wrap" :class="{fixed:isScrolled,bottomed:isBottom}">
                <a class="iconfont close-panel" @click="closeReviewSidebar" href="javascript:">&#xe61f;</a>
                <div class="section-comment-content">
                    <!--<a class="section-comment-top-link blue" href="https://www.qidian.com/news/detail/072952497" target="_blank">段评功能优化通知</a>-->
                    <div class="send-textarea">
                        <textarea placeholder="有想法快写下来吧···" id="j-sendTextArea" v-model="newReplyContent"
                                  ref="inputEmoji"></textarea>
                        <div class="text-tools">
                            <a class="red-btn" :class="{disabled:disableSubmit}" @click="sendSectionComment"
                               href="javascript:">发表</a>
                            <emoji id="j-emojiBtn" class="emoji-btn" class-name="sideEmoji"></emoji>
                            <i><em id="j-sendCommentCounter" :class="{red:realReplyContent.length>maxLength}">{{realReplyContent.length}}</em>/{{maxLength}}</i>
                        </div>
                    </div>
                    <div class="reviews-wrap">
                        <div class="total">
                            <p>共{{commentTotal}}条帖子</p>
                        </div>
                        <div class="review-wrap-list" id="j-reviewWrapList" v-if="!isNoData">
                            <ul>
                                <review class="review-item"
                                        v-for="(r, index) in reviews"
                                        :key="r.reviewId"
                                        mode="1"
                                        @show-replies="showRepliesModal(r,$event)"
                                        user-path="https://my.qidian.com/user/"
                                        like-path="/ajax/chapterReview/userInteract"
                                        delete-path="/ajax/chapterReview/delReview"
                                        reply-path="/ajax/chapterReview/createSegmentReply"
                                        @require-login="showLoginPopup"
                                        @confirm-delete="showDeleteConfirm"
                                        @delete="deleteReviewSuccess(index)"
                                        @require-verification="showBindPhonePopup"
                                        :review-raw="r"
                                >
                                </review>
                                <load-more :loading="reviewIsLoading && !isShowMorePage" :hidden="reviewIsEnd"
                                           @visible="getReviewData"></load-more>
                            </ul>
                            <div class="is-end" v-if="reviewIsEnd && !isNoData && !isShowMorePage">
                                <p>已显示全部</p>
                            </div>
                            <div class="more-page-box" v-show="isShowMorePage">
                                <div class="pagination" id="j-morePageBox" :data-page="reviewCurPage"
                                     :data-pageMax="reviewPageMax"></div>
                            </div>
                        </div>
                        <div v-else class="no-section-data">
                            <div class="icon files"></div>
                            <p>还没有人发表评论</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-replies-modal-bg" v-if="isRepliesModalShow"></div>
            <div v-if="isRepliesModalShow" class="review-replies-modal" id="review-replies-modal">
                <div class="review-replies-popup">
                    <a class="iconfont close-btn" @click="closeReviewRepliesPopup" href="javascript:">&#xe61f;</a>
                    <h3>查看回复</h3>
                    <review
                            mode="2"
                            user-path="https://my.qidian.com/user/"
                            like-path="/ajax/chapterReview/userInteract"
                            delete-path="/ajax/chapterReview/delReview"
                            reply-path="/ajax/chapterReview/createSegmentReply"
                            @delete="deleteMineReplies"
                            @reply="replySuccess"
                            @confirm-delete="showDeleteTopConfirm"
                            @require-login="showLoginPopup"
                            @success="showSuccessTip"
                            @error="showErrorTip"
                            :is-root="true"
                            :review-raw="targetReview"
                            @require-verification="showBindPhonePopup"
                    ></review>
                    <div class="replies-list-wrap" id="j-repliesListWrap">
                        <div class="replies-ul" v-if="!isNoRepliesData">
                            <review
                                    v-for="(r, index) in replies"
                                    :key="r.reviewId"
                                    mode="2"
                                    user-path="https://my.qidian.com/user/"
                                    like-path="/ajax/chapterReview/userInteract"
                                    delete-path="/ajax/chapterReview/delReview"
                                    reply-path="/ajax/chapterReview/createSegmentReply"
                                    @delete="deleteReplySuccess(index)"
                                    @reply="replySuccess"
                                    @confirm-delete="showDeleteConfirm"
                                    @require-login="showLoginPopup"
                                    @send-param="reportSendParam"
                                    @error="showErrorTip"
                                    :review-raw="r"
                            ></review>
                            <load-more :loading="repliesIsLoading" :hidden="repliesIsEnd"
                                       @visible="getPageNextReplies"></load-more>
                        </div>
                        <div v-else class="no-section-data">
                            <div class="icon files"></div>
                            <p>还没有人发表评论</p>
                        </div>
                        <div class="is-end" v-if="repliesIsEnd && !isNoRepliesData">
                            <p>已显示全部</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="read-main-wrap font-family01" style="font-size:18px" id="j_readMainWrap">
            <div id="j_chapterBox" data-l1="3">


                <div class="text-wrap" id="chapter-626645596" data-cid="626645596"
                     data-purl="//read.qidian.com/chapter/O9zPuzOQBNt7DVpbqm07HA2/XSWAxiT0LDnM5j8_3RRvhw2/"
                     data-nurl="//read.qidian.com/chapter/O9zPuzOQBNt7DVpbqm07HA2/sbQr1BSZUcjwrjbX3WA1AA2/"
                     data-info="0|626408606|627336580|0|0">

                    <div class="main-text-wrap ">
                        <div class="text-head">
                            <div class="guide-box">
                                <cite></cite>
                                <p>点击书签后，可收藏每个章节的书签，“阅读进度”可以在个人中心书架里查看</p>
                            </div>
                            <a class="book-mark" href="javascript:" title="书签" data-cid="626645596"
                               data-bid="1021617576" data-auid="5175790" data-eid="qd_R104"></a>
                            <h3 class="j_chapterName">
                                <span class="content-wrap">3、破碎的世界</span>
                            </h3>
                            <div class="text-info cf">
                                <div class="info fl">
                                    <a href="//book.qidian.com/info/1021617576/" target="_blank" data-bid="1021617576"
                                       data-auid="5175790" data-eid="qd_R102"><em
                                            class="iconfont">&#xe60c;</em>夜的命名术</a>

                                    <a href="//my.qidian.com/author/5175790/" target="_blank" data-bid="1021617576"
                                       data-auid="5175790" data-eid="qd_R103"><em
                                            class="iconfont">&#xe650;</em>会说话的肘子</a>

                                    <i><em class="iconfont">&#xe64f;</em><span class="j_chapterWordCut">2139</span>字</i>
                                    <i><em class="iconfont">&#xe653;</em><span
                                            class="j_updateTime">2021.04.18 09:55</span></i>
                                </div>
                            </div>
                        </div>


                        <div class="read-content j_readContent" id="j_626645596">


                            <p>　　在即将迎来危机与变故的时候去拜菩萨，这种行为看起来有点病急乱投医的意思。
                            <p>　　然而庆尘觉得，手臂上这超自然现象，本身就应该交给超自然的存在去管。
                            <p>　　对于庆尘来说，拜一拜自己也不吃亏。
                            <p>　　他喜欢把准备工作做在前面，不给自己留下遗憾的机会。
                            <p>　　时间为晚上9点半钟。
                            <p>　　庆尘坐在床上低头看了一眼手机，卧室里只有这微弱的光，微信里也只有同桌南庚辰发的寥寥数语，再没有其他人给他发来消息了。
                            <p>　　母亲张婉芳的微信头像安安静静的，这让庆尘有一丝失落。
                            <p>　　当然，也只是一丝罢了。
                            <p>　　他也不知道自己在期待着什么。
                            <p>　　其实他并不埋怨母亲。
                            <p>　　父亲赌博将家里多处房产变卖，还有家暴行为、出轨行为，庆尘一点都不觉得母亲主动离婚有什么错。
                            <p>　　相反，曾亲眼看到父亲动手打母亲的庆尘，甚至为母亲的选择感到高兴。
                            <p>　　因为这是正确的。
                            <p>　　在父母离婚前夕，姥姥曾劝母亲不要离婚：你一个女人带着十几岁的儿子当拖油瓶，以后还怎么成家？谁会跟你再婚？
                            <p>　　听到这一切的庆尘在父母离婚之际，选择了跟父亲一起生活。
                            <p>　　他记得父母当时错愕的神情，但庆尘知道这也是一个正确的选择。
                            <p>　　如今母亲开启了一段新的人生，组成了一个幸福的新家庭，庆尘或许有些失落，但依然很小心翼翼的不去打扰。
                            <p>　　倒计时2:31:12.
                            <p>　　庆尘忽然想到一个问题，如果这是自己人生中最后两个半小时，那自己应该做什么？
                            <p>　　这个问题其实既严肃又浪漫。
                            <p>　　因为它是在问你，你人生中最想做，却又还没来得及做、或者不敢做的事情是什么。
                            <p>　　未表达的爱意，相见却没见的人，想去却没有去的地方，想说却没有说的话，都在答案范畴。
                            <p>　　这个问题，直问本心。
                            <p>　　庆尘起身穿上外套，他竟然在这倒计时剩余不多的时候，选择了再次出门。
                            <p>　　他把自己的破自行车推出家门，骑上之后一路朝目的地飞驰而去。
                            <p>　　秋季夜晚的风有些微凉了，路上的行人渐渐稀少。
                            <p>　　骑在自行车上的庆尘面色平静，外套的衣袂被桥上的风给向后吹去。
                            <p>　　他这辈子确实有很多遗憾，也有很多不敢做的事情。
                            <p>　　但今晚他不需要怯懦与畏惧，只需要勇气。
                            <p>　　某一刻庆尘在想，如果自己真的要死于今晚，那就也该把最重要的事情做完才对，他没有时间了。
                            <p>　　他先去了牡丹大酒店，又去了洛城大酒店，还去了洛印家属院，但是那里都没有他想找的人。
                            <p>　　庆尘骑着自行车一路穿过小巷，驰过七里河桥，来到了一栋居民楼下。
                            <p>　　当他看到楼下停着的那辆熟悉的破二手摩托车，又听到二楼的搓麻将声……
                            <p>　　然后拿起手机拨了110：“喂警察同志您好，我要举报洛涧区龙腾小区，17号楼2单元201室，有人聚众赌博。”
                            <p>　　电话对面的接警工作人员似乎愣了两秒，然后才反应过来：“好的，我们现在安排出警。”
                            <p>　　直到这时候，庆尘才放下心来，转身便骑着自行车回家去了。
                            <p>　　念头通达了。
                            <p>　　到家，庆尘看了一眼手臂上的白色纹路，倒计时1:02:21秒。
                            <p>　　他开始重新检视自己的准备工作。
                            <p>　　等等，自己要在家里迎接那一刻吗。
                            <p>　　以前庆尘看过一部恐怖片，故事讲的是主角碰到了脏东西，结果就会有鬼在每天半夜12点的时候找到他。
                            <p>　　然后主角东躲XZ的，甚至还躲到深山老林里，却总是能被鬼找到。
                            <p>　　那时候庆尘就在想，这主角为啥不去人多的地方呢？
                            <p>　　虽然鬼很厉害，但一般情况大家在人多的地方都会更有安全感啊。
                            <p>　　比如主角可以去个夜店呆着，等半夜12点鬼找上门的时候，夜店里几百人在轰鸣的音乐声里甩着脑袋，怎么看都感觉应该是鬼更害怕一些啊……
                            <p>　　所以庆尘想到这里就开始思索，自己是否也应该去个人多的地方？
                            <p>　　再或者，他可以直接去洛城的白马寺啊……毕竟那里有菩萨。
                            <p>　　不仅有观音菩萨，还有文殊菩萨、地藏王菩萨。
                            <p>　　也很有安全感的样子。
                            <p>　　然而庆尘最终还是选择留在家里，他觉得相比起妖魔鬼怪而言，倒计时结束的时候，更有可能出现丧尸之类的东西。
                            <p>　　真要是出现这玩意，那他去人多的地方跟找死没啥区别，另一方面，菩萨好像也没有处理这种事情的业务。
                            <p>　　庆尘已经在家里备了物资，如果真是丧尸来袭，那他还能躲家里顶一阵子。
                            <p>　　倒计时00:31:49。
                            <p>　　最后的半个小时里庆尘将书桌上的台灯打开，安静的写下了一封遗书留在桌上。
                            <p>　　如果他死于今日，或许未来某一天家人与朋友还能看到他最后想说的话。
                            <p>　　如果他没死，那他的人生或许将是另一番天地了。
                            <p>　　倒计时00:00:12。
                            <p>　　写完遗书之后的庆尘端坐起来，他右手中紧紧的握着剔骨刀，清澈的眼睛里，瞳孔顿时收窄。
                            <p>　　越是最后一刻，他的情绪便越发的宁静。
                            <p>　　就像是海啸在即将吞没孤岛的一刹那静止了，海面之下也没有暗流涌动，只剩下深沉的思考与炽烈的勇气！
                            <p>　　10……
                            <p>　　9……
                            <p>　　8……
                            <p>　　7……
                            <p>　　6……
                            <p>　　5……
                            <p>　　4……
                            <p>　　3……
                            <p>　　2……
                            <p>　　1.
                            <p>　　没有鬼怪，没有丧尸，没有灾难。
                            <p>　　庆尘静静的看着自己周遭时间陷入静止，他手机上的时间像是永远停留在了12点0分0秒之上。
                            <p>　　墙壁上挂着的时钟秒针突然不再跳动，窗外的光也不再摇曳。
                            <p>　　他站起身来，凝固的时间好像被他起身的动作给打碎了似的，眼中的世界宛如镜子般碎裂开来。
                            <p>　　庆尘提着手中的剔骨刀环视四周，书桌没有了，屋子也没有了，只剩下一片黑暗。
                            <p>　　紧接着，他也陷入黑暗之中。
                            <p>　　……
                            <p>　　时间不知道过去了多久，但又好像只有刹那，这一瞬间的庆尘忽然失去了时间的概念。
                            <p>　　黑暗里，世界的碎片开始重新拼凑，那不知道从何而来的碎片，刹那间组合成了一个焕然一新的世界。
                            <p>　　庆尘躺在一张狭窄的硬板床上，这里是完全陌生的环境，他从不曾来过。
                            <p>　　他先是看向自己的手掌，那里空无一物，原本握着的剔骨刀也早就消失不见。
                            <p>　　他再看向手臂，赫然发现手臂上的白色纹路已经改变。
                            <p>　　“回归倒计时48:00:00.”
                            <p>　　48小时，也就是2天，庆尘思忖着。
                            <p>　　下一刻，倒计时跳动了一秒：回归倒计时47:59:59.
                            <p>　　
                            <p>

                        </div>

                        <div class="admire-wrap">
                            <!-- <a class="report-btn j_reportBtn" href="javascript:" data-eid="qd_R106"><em class="iconfont">&#xe657;</em>举报</a> -->
                            <a class="report-btn" id="j_reportBtn"
                               href="//www.qidian.com/ajax/chapter/reportChapter?siteId=1&bookId=1021617576&chapterId=626645596"
                               data-eid="qd_R106"><em class="iconfont">&#xe657;</em>举报</a>
                            <script>
                                (function () {
                                    function getCookie(name) {
                                        var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
                                        if (match) return match[2];
                                    }

                                    document.getElementById('j_reportBtn').href += ('&_csrfToken=' + getCookie('_csrfToken'))
                                })()
                            </script>
                            <div class="read-btn-box">
                                <a class="admire lang j_admireBtn" href="javascript:" data-showtype="3"
                                   data-eid="qd_R105">赞赏<span class="j_admireNum"></span></a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div class="chapter-control dib-wrap" data-l1="3">

                <a id="j_chapterPrev" data-eid="qd_R107"
                   href="//read.qidian.com/chapter/O9zPuzOQBNt7DVpbqm07HA2/XSWAxiT0LDnM5j8_3RRvhw2/">上一章</a><span>|</span>
                <a href="//book.qidian.com/info/1021617576#Catalog" target="_blank"
                   data-eid="qd_R108">目录</a><span>|</span>
                <a id="j_chapterNext" href="//read.qidian.com/chapter/O9zPuzOQBNt7DVpbqm07HA2/sbQr1BSZUcjwrjbX3WA1AA2/"
                   data-eid="qd_R109">下一章</a>
            </div>

            <div class="la-ball-pulse j_chapterLoad hidden">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>


    <div class="weekly-hot-rec">
        <div class="read-center">
            <span class="title">同类推荐:</span>
            <div class="book-name-container">


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1016175318/"
                        title="我的淘宝连天庭在线阅读"
                >
                    我的淘宝连天庭
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1021552413/"
                        title="龙王的傲娇日常在线阅读"
                >
                    龙王的傲娇日常
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1030870676/"
                        title="从情满四合院开始的万界之旅在线阅读"
                >
                    从情满四合院开始的万界之旅
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1023499770/"
                        title="都市之绝代高手在线阅读"
                >
                    都市之绝代高手
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1015347158/"
                        title="第6666次重生在线阅读"
                >
                    第6666次重生
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1030895489/"
                        title="太棒了，我逐渐理解一切在线阅读"
                >
                    太棒了，我逐渐理解一切
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1004853338/"
                        title="我可以变成鱼在线阅读"
                >
                    我可以变成鱼
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1003750072/"
                        title="汽车黑科技在线阅读"
                >
                    汽车黑科技
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1019349502/"
                        title="开局召唤黑影兵团在线阅读"
                >
                    开局召唤黑影兵团
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/3659854/"
                        title="鉴宝大师在线阅读"
                >
                    鉴宝大师
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1031175849/"
                        title="作为英雄复活的我竟成了偶像在线阅读"
                >
                    作为英雄复活的我竟成了偶像
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1021533243/"
                        title="表白失败就变强在线阅读"
                >
                    表白失败就变强
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1023623442/"
                        title="我开了一家万能杂货铺在线阅读"
                >
                    我开了一家万能杂货铺
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1028449898/"
                        title="族长的悠闲日常在线阅读"
                >
                    族长的悠闲日常
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1006896510/"
                        title="最速救护车司机传说在线阅读"
                >
                    最速救护车司机传说
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1011311347/"
                        title="无敌神龙养成系统在线阅读"
                >
                    无敌神龙养成系统
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1010788780/"
                        title="深山中的修道者在线阅读"
                >
                    深山中的修道者
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1017257915/"
                        title="直播之我是修仙者在线阅读"
                >
                    直播之我是修仙者
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1031127089/"
                        title="我给师傅送走了在线阅读"
                >
                    我给师傅送走了
                </a>


                <a
                        class="book-item"
                        href="//book.qidian.com/info/1010513863/"
                        title="万界科技系统在线阅读"
                >
                    万界科技系统
                </a>

            </div>
        </div>
    </div>

</div>
<div class="float-wrap" id="j_floatWrap" data-l1="2">
    <div class="left-bar-list" id="j_leftBarList">
        <dl>
            <dd id="j_navCatalogBtn" data-eid="qd_R42">
                <a href="javascript:"><i><em class="iconfont">&#xe619;</em><span>目录</span></i></a>
                <div class="guide-box">
                    <cite></cite>
                    目录
                </div>
            </dd>
            <dd id="j_navSettingBtn">
                <a href="javascript:"><i><em class="iconfont">&#xe65b;</em><span>设置</span></i></a>
                <div class="guide-box">
                    <cite></cite>
                    设置
                </div>
                <div class="new-guide" id="j-sectionCommentGuide">
                    <cite></cite>
                    <p>段评功能已上线，<br>在此处设置开关</p>
                </div>
            </dd>
            <dd id="j_phoneRead" data-eid="qd_R83">
                <a href="javascript:"><i><em class="iconfont">&#xe65c;</em><span>手机</span></i></a>
                <div class="guide-box">
                    <cite></cite>
                    手机阅读
                </div>
            </dd>
            <dd data-eid="qd_R84">
                <a class="add-book" href="javascript:" data-bookid="1021617576"><i><em
                        class="iconfont">&#xe654;</em><span>书架</span></i></a>
                <div class="guide-box">
                    <cite></cite>
                    加入书架
                </div>
            </dd>
            <dd data-eid="qd_R85">
                <a href="//book.qidian.com/info/1021617576/" target="_blank"><i><em class="iconfont">&#xe652;</em><span>书页</span></i></a>
                <div class="guide-box">
                    <cite></cite>
                    返回书页
                </div>
            </dd>
            <dd id="j_navGameBtn" data-eid="qd_R86">

                <a href="javascript:"><i><em class="iconfont">&#xe65e;</em><span>游戏</span></i></a>
                <div class="guide-box">
                    <cite></cite>
                    起点游戏
                </div>
            </dd>

        </dl>
    </div>
    <div class="right-bar-list" id="j_rightBarList">
        <dl>


            <dd id="navReward" data-showtype="3" data-aid="qd_R87">
                <a href="javascript:"><i><em class="iconfont">&#xe635;</em><span>打赏</span></i></a>
                <div class="guide-box">
                    <cite></cite>
                    打赏
                </div>
            </dd>


            <dd id="navTicket" data-showtype="2" data-aid="qd_R88">
                <a href="javascript:"><i><em class="iconfont">&#xe65d;</em><span>投票</span></i></a>
                <div class="guide-box">
                    <cite></cite>
                    投票
                </div>
            </dd>


            <!--
            <dd id="j_discussHref" data-eid="qd_R89">

                <a href="//forum.qidian.com/NewForum/List.aspx?forumId=1021617576" target="_blank"><i><em class="iconfont">&#xe658;</em><span>评论</span></i></a>
                <div class="guide-box">
                    <cite></cite>
                    评论
                </div>
            </dd>
             -->
            <dd class="go-top" id="j_goTop" title="返回顶部" data-eid="qd_R90">
                <a href="javascript:"><i><em class="iconfont">&#xe651;</em></i></a>
            </dd>

        </dl>
    </div>
    <div class="guide-btn-wrap">
        <a class="guide-btn" id="j_guideBtn" href="javascript:" data-eid="qd_R41">指南</a>
    </div>
</div>

<div id="userLevel" class="hidden"></div>
<div id="authorId" data-authorid="5175790" class="hidden"></div>
<script>
    //全局的通用数据都放g_data变量里
    var g_data = {};
    //环境变量，会按照环境选择性打log
    g_data.envType = 'pro';
    //用作统计PV
    g_data.pageId = 'qd_P_read';
    //环境域名
    g_data.domainSearch = 'www.qidian.com/soushu';
    //阅读页配置参数
    g_data.readSetting = {
        "t": 0,
        "ft": 0,
        "fs": 3,
        "w": 1,
        "rt": 0,
        "autoBuy": 0,
        "readType": 0
    };
    g_data.isPublication = false;
    g_data.salesMode = 1;
    //书信息
    g_data.bookInfo = {
        "bookId": 1021617576,
        "bookName": '夜的命名术',
        "authorId": 5175790,
        "authorName": '会说话的肘子'
    };
    //非vip章节,背景广告

    g_data.bgOpsInfo = {
        "abTest": "",
        "adCategoryName": "广告",
        "channelStatus": "0",
        "title": "起点百战沙城",
        "type": "1",
        "adImgUrl": "https://img2.qidian.com/upload/gamesy/2021/11/09/202111091748320ym0eyh6iz.jpg",
        "colorType": "0",
        "adType": "1",
        "adJumpUrl": "http://cpgame.qd.game.qidian.com/Home/Index/directLogin/name/bzsc2/way/1?qd_game_key=bzsc21920x1057jt.jpg&qd_dd_p1=110503",
        "isAdv": "1",
        "blackList": "",
        "startTime": "1645754400",
        "whiteList": "",
        "id": "110503",
        "endTime": "1645840500",
        "hasAd": 1
    };
    g_data.bgOpsInfoCps = "";

    //页面初始化章节信息
    g_data.chapter = {
        //页面进入加载的章节id
        id: 626645596,
        //章节vip标识
        vipStatus: 0,
        //上一章id
        prevId: 626408606,
        //下一章id
        nextId: 627336580,
        //本章节是否已经订阅
        isBuy: 0,
        // 策略 id
        strategyId: 0
    };
    // 0-未编码，1-已编码。当 == 1 时，会有反盗版文本编码的相关字段
    g_data.isContentEncode = 0;
    g_data.pageOps = {
        "abTest": "",
        "adCategoryName": "广告",
        "channelStatus": "0",
        "title": "笑傲江湖",
        "type": "1",
        "adImgUrl": "https://img0.qidian.com/upload/gamesy/2021/12/02/20211202172920n4sizljxkx.jpg",
        "colorType": "0",
        "adType": "1",
        "adJumpUrl": "http://cpgame.qd.game.qidian.com/Home/Index/directLogin/name/xajh/way/1?qd_game_key=xajh900x60.jpg&qd_dd_p1=110507",
        "isAdv": "1",
        "blackList": "",
        "startTime": "1645754400",
        "whiteList": "",
        "id": "110507",
        "endTime": "1645840500",
        "hasAd": 1
    };
    // 风控信息
    g_data.riskInfo = {
        "banId": 0,
        "banMessage": "",
        "sessionKey": "",
        "captchaAId": "",
        "captchaURL": "",
        "phoneNumber": "",
        "gt": "",
        "challenge": "",
        "offline": 0,
        "newCaptcha": 0,
        "captchaType": 0
    };
    //页面进入时,下一章是否是vip章节
    g_data.nextChapterVip = 0;
    //章节底部广告
    g_data.bottomOps = {"hasAd": 0};
    //打赏参数
    g_data.pageJson = {
        // 是否是VIP书籍，传入js，在弹窗时需要判断，如果不是VIP看不到月票Tab
        isVip: 1,
        // 是否是出版物
        isPublication: false,
        //是否已登录，传入js，EJS后加载模板判断是否显示
        isLogin: 0,
        //是否签约作品，传入js，EJS后加载模板判断是否显示
        isSign: 1,
        //是否要送月票 传入js， EJS后加载模板判断使用
        noRewardMonthTic: 0,
        //获得bookId的json格式，传入js，EJS后加载模板中可以直接使用
        bookId: 1021617576,
        //获得签约状态，传入js，EJS后加载弹窗下载使用
        signStatus: '签约作品',
        //作家专区链接环境变量传入EJS模板
        mePreFix: '//my.qidian.com',
        //讨论区连接环境变量传入EJS模板
        forumPreFix: '//forum.qidian.com',
        // 是否可以打赏 & 推荐票 & 月票
        interact: {"recTicketEnable": 1, "monthTicketEnable": 1, "donateEnable": 1}
    };
    // 区分女生网 && 起点中文网
    g_data.isWebSiteType = 1;
</script>
<script>
    // @see src/views/book.qidian.com/info/index.html
    var qrCodeFromBaiduWithoutLogo = 'https://imgservices-1252317822.image.myqcloud.com/image/121720210145357/23c8ada5.png'
    if (document.referrer.indexOf('baidu.com') > -1) {
        document.getElementById('readQrcode').src = qrCodeFromBaiduWithoutLogo;
    }
</script>

<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>


<script src="https://sta.gtimg.com/aq/=/safe_h5/js/yw_risk_verify.js" async data-ignore="true"></script>

<script src="https://qidian.gtimg.com/cdnjs/vue/2.6.10/vue.min.js" data-ignore="true"></script>
<script data-ignore="true" id="LBFnode" src="//qidian.gtimg.com/lbf/1.1.0/LBF.js?max_age=31536000"></script>
<script>
    // LBF 配置
    LBF.config({
        "paths": {
            "site": "//qidian.gtimg.com/qd/js",
            "qd": "//qidian.gtimg.com/qd",
            "common": "//qidian.gtimg.com/common/1.0.0"
        }, "vars": {"theme": "//qidian.gtimg.com/qd/css"}, "combo": true, "debug": false
    });
    LBF.use(['lib.jQuery'], function ($) {
        window.$ = $;
    });
</script>
<script>
    LBF.use(['qd/js/component/login.29081.js', 'qd/js/read/index.b6545.js'], function (Login, Index) {
        // 页面逻辑入口
        if (Login) {
            Login.init().always(function () {
                Index && typeof Index === 'function' && new Index();
            })
        }
    });
</script>

</script>
</body>
</html>
